---
# front matter
---

// add color at page top #424242
// $top-border: #0d6efd; 

// set color for footer nav buttons (optional!)
$nav-pills: #0d6efd;

// Tweak body text and link color
$text-color: #111 !default;
$link-color: #0d6efd !default;
$base-font-size: 1.1rem;

// limit container size to make reading easier
$container-max: 750px;

// Import partials.
@import
  "template", "custom"
;
